{% extends 'base.html' %} {% block Titulo%} home | Proyecto {%endblock %}
{%block links_nav %}
<a href="{{url_for('home')}}" class="btn_atras">Atras</a>
<a href="{{url_for('home')}}" class="btn_link_nav">Mapa</a>
{% endblock %} {% block contenido %}
<div class="containt-grafics">
  <div class="title-grafics">
    <h1>Graficas {{h1_page}}</h1>
  </div>
  <div class="grafics_histogram">{{ histogram | safe }}</div>
  <div class="grafics_pastel">{{ grafico_pastel | safe }}</div>
</div>
{% endblock %}
